@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 20px; 
}

.searchTerm {
  width: 100%;
  border: 3px solid #2196F3;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #2196F3;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #2196F3;
  background: #2196F3;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 90%;
  /* position: absolute;
  top: 5%;
  left: 100%;
  transform: translate(-50%, -50%); */
  margin: 0 auto;
}

.table{
  margin: 0 auto;
}

.button {
  background-color: #2196F3; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* 定义一个类名为right的div，用于将按钮放在右上角 */
.right {
  position: absolute;
  right: 0px;
  top: 0px;
}